<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ABC Bank - powered by Watson AI</title>
  <img src="/static/Image.png" width="100%" height="auto" alt="ABC Bank" >
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "982d1e2f-9797-412f-b982-43d9bbd76cb8", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "aa9b57b4-60b3-45de-bc2f-ae73c1c12e69", // The ID of your service instance.
      onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
      const t = document.createElement('script');
      t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
  </script>
</head>


<body style="background-color:#eeeeee">
</body>

</html>